{% raw %}
<!DOCTYPE html>
<html>
  <head>
    <title>Instascan</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=0.5, user-scalable=no">
    <link rel="manifest" href="/static/manifest.json">
    <script src="https://unpkg.com/shake-detector"></script>

    <meta name="mobile-web-app-capable" content="yes">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <style>
      html {
        height: 100%;
      }
      body {
        text-align: center;
        height: 100%;
      }
      .video {
        display: none;
        width: 100%;
        height: 20%;
      }
      .video canvas {
        height: 100%;
      }
      #wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }
      #vue-app {
        height: 100%;
        font-size: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
      #vue-app > div {
        margin: 1rem;
      }
    </style>
  </head>
  <body>
    <div id="wrapper">
      <div id="vue-app"></div>
      <video id="webcam_canvas" playsinline autoplay style="display:none"></video>
      <div class="video">
        <canvas id="out_canvas"></canvas>
      </div>

      <p style="display: none;">Camera Parameters (valid json, as given by <a href="https://www.calibdb.net/">calibdb</a>):<br/>
        <textarea id="camera_info" rows="10" cols="100">
          {
               "camera_matrix": [
                   [
                       939.3384407933022,
                       0,
                       640.347854307481
                   ],
                   [
                       0,
                       938.2560270381138,
                       340.7192620859387
                   ],
                   [
                       0,
                       0,
                       1
                   ]
               ],
               "img_size": [
                   1280,
                   720
               ]
           }
        </textarea>
       </p>

    </div>
    <script type="text/javascript">
      let context = null;

      const beep = (freq = 320, duration = 100, vol = 5) => {
          const oscillator = context.createOscillator();
          const gain = context.createGain();
          oscillator.connect(gain);
          oscillator.frequency.value = freq;
          oscillator.type = "square";
          gain.connect(context.destination);
          gain.gain.value = vol * 0.01;
          oscillator.start(context.currentTime);
          oscillator.stop(context.currentTime + duration * 0.001);
      }
      const melody = (beeps) => {
        context = new AudioContext();
        let time = 0;
        for (const _beep of beeps) {
          if (!_beep[0]) {
            // No freq, just add time
          } else {
            console.log("Beep", _beep, time);
            setTimeout(() => beep(_beep[0], _beep[1]), time);
          }
          time += _beep[1];
        }
      }
      const speak = (text) => {
        console.log(text);
        const utter = new SpeechSynthesisUtterance();
        utter.lang = 'fi-FI';
        utter.text = text;
        utter.rate = 1.2;
        utter.pitch = 0.8;
        speechSynthesis.cancel();
        speechSynthesis.speak(utter);
      }
      if (window.speechSynthesis) {
        speechSynthesis.getVoices();
      }
      let lastDetId = null
      window.document.addEventListener('speak', (data) => speak(data.detail), false)


      window.handleDetected = (det) => {
        const content = `http://koodi-${det.id + 1}`
        if (content == lastDetId) {
          return
        }
        lastDetId = content
        setTimeout(() => {
          lastDetId = null
        }, 3000)
        melody([[440, 100], [554.37, 100], [659.25, 100]])
        window.vueHandleDetected(content)
      }

    </script>
    <script type="text/javascript" src="/static/apriltag/main.js"></script>
    <script type="module" async src="/static/apriltag/video_process.js"></script>


    <template id="template">
        <div>{{ dayStatusText }} <progress min="0" max="100" :value="dayStatusFilled"></progress></div>
        <div>Ruokaa: {{ collectedFruits.length }}</div>
        <div v-if="!currentPos">
          <div>?</div>
        </div>
        <div v-else-if="currentPos == 'home'">
          <!-- <div>Kotona</div>
          <div v-if="dayStatus == 'evening'">Syöntinäkymä</div>
          <div v-else-if="dayStatus == 'night'">Nukkumaan</div>
          <div v-else>Mene keräämään ruokaa</div> -->
        </div>
        <div v-else-if="currentPos == 'food'">
          <!-- <div>Ruoka {{ posContent.food }}</div> -->
        </div>
        <div v-else-if="currentPos == 'lock'">
          <div>Lukko</div>
        </div>
        <div v-else-if="currentPos == 'password'">
          <div>Salasana</div>
        </div>
        <div v-if="speakText">{{ speakText }}</div>
    </template>
    <script>
      const { createApp } = Vue;
    
      createApp({
        template: "#template",

        data() {
          return {
            msg: 'Hello Vue!',

            dayStatusSeconds: {
              'day': 60 * 2,
              'evening': 60 * 10,
              'night': 30,
            },
            dayStatus: null,
            dayStatusFilled: 0,
            dayStatusEndTime: null,

            currentPos: null,
            posContent: null,
            collectedFruits: [],

            event: null,
            speakText: null,
          }
        },
        computed: {
          dayStatusText() {
            if (this.dayStatus == 'day') {
              return 'Päivä';
            } else if (this.dayStatus == 'evening') {
              return 'Ilta';
            } else if (this.dayStatus == 'night') {
              return 'Yö';
            }
            return this.dayStatus;
          }
        },
        mounted() {
          window.vueHandleDetected = this.handleDetected
          this.dayStatusHandler();
          this.handleDetected(`http://koodi-${5 + 1}`)
        },
        methods: {
          dayStatusHandler() {
            // Update day status loading bar
            if (this.dayStatus && this.dayStatusEndTime) {
              const secondsLeft = (this.dayStatusEndTime.getTime() - new Date().getTime()) / 1000;
              const maxSeconds = this.dayStatusSeconds[this.dayStatus] + 10;
              this.dayStatusFilled = Math.round(100 * (1 - secondsLeft / maxSeconds));
              if (this.dayStatusFilled > 101 && this.dayStatus == 'night') {
                // Simulate a scan of home
                this.handleDetected(`http://koodi-${5 + 1}`)
              }
            }

            setTimeout(() => {
              this.dayStatusHandler();
            }, 1000)
          },
          handleScanResponse(data) {
            console.log(data);
            this.currentPos = data.currentPos
            this.posContent = data.posContent
            this.collectedFruits = data.collectedFruits

            if (data.speak) {
              const event = new CustomEvent('speak', { detail: data.speak });
              window.document.dispatchEvent(event);
              this.speakText = data.speak
            }

            if (data.dayStatus) {
              this.dayStatus = data.dayStatus;
              this.dayStatusEndTime = new Date(data.dayStatusEnding);
            }

            if (data.event) {
              this.event = data.event;
              setTimeout(() => {
                this.event = null;
              }, 5000)
            }
            if (this.currentPos != 'home') {
              setTimeout(() => {
                this.currentPos = null;
              }, 5000)
            }
          },
          handleDetected(content) {
            console.log("Detected", content)
            axios.post('/api/scan', {content})
              .then((response) => {
                this.handleScanResponse(response.data)
              })
              .catch((error) => {
                console.log(error);
              });
          }
        },
      }).mount('#vue-app')

    </script>
  </body>
</html>
{% endraw %}