{% raw %}
<!DOCTYPE html>
<html>
  <head>
    <title>Instascan</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=0.5, user-scalable=no">
    <link rel="manifest" href="/static/manifest.json">
    <script src="https://unpkg.com/shake-detector"></script>

    <meta name="mobile-web-app-capable" content="yes">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <style>
      html {
        height: 100%;
      }
      body {
        text-align: center;
        height: 100%;
      }
      .video {
        display: none;
        width: 100%;
        height: 20%;
      }
      .video canvas {
        height: 100%;
      }
      #wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }
      #vue-app {
        height: 100%;
        font-size: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
      #vue-app > div {
        margin: 1rem;
      }
      #collected-fruits {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }
      #collected-fruits img {
        width: 15vw;
      }
      #day-status {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      svg {
        width: 100%;
        height: 100%;
      }
      .speech-recognition {
        width: 4rem;
        margin-top: auto !important;
        margin-bottom: 5rem !important;
      }
    </style>
  </head>
  <body>
    <div id="wrapper">
      <div id="vue-app"></div>
      <video id="webcam_canvas" playsinline autoplay style="display:none"></video>
      <div class="video">
        <canvas id="out_canvas"></canvas>
      </div>

      <p style="display: none;">Camera Parameters (valid json, as given by <a href="https://www.calibdb.net/">calibdb</a>):<br/>
        <textarea id="camera_info" rows="10" cols="100">
          {
               "camera_matrix": [
                   [
                       939.3384407933022,
                       0,
                       640.347854307481
                   ],
                   [
                       0,
                       938.2560270381138,
                       340.7192620859387
                   ],
                   [
                       0,
                       0,
                       1
                   ]
               ],
               "img_size": [
                   1280,
                   720
               ]
           }
        </textarea>
       </p>

    </div>
    
    <script type="text/javascript">
      const SpeechRecognition = window.SpeechRecognition || webkitSpeechRecognition;
      const SpeechRecognitionEvent = window.SpeechRecognitionEvent || webkitSpeechRecognitionEvent;
      
      const recognition = new SpeechRecognition();
      recognition.continuous = false;
      recognition.lang = 'fi-FI';
      recognition.interimResults = false;
      recognition.maxAlternatives = 1;

      const diagnostic = document.querySelector('.output');
      const bg = document.querySelector('html');

      let context = null;

      const beep = (freq = 320, duration = 100, vol = 5) => {
          const oscillator = context.createOscillator();
          const gain = context.createGain();
          oscillator.connect(gain);
          oscillator.frequency.value = freq;
          oscillator.type = "square";
          gain.connect(context.destination);
          gain.gain.value = vol * 0.01;
          oscillator.start(context.currentTime);
          oscillator.stop(context.currentTime + duration * 0.001);
      }
      const melody = (beeps) => {
        context = new AudioContext();
        let time = 0;
        for (const _beep of beeps) {
          if (!_beep[0]) {
            // No freq, just add time
          } else {
            console.log("Beep", _beep, time);
            setTimeout(() => beep(_beep[0], _beep[1]), time);
          }
          time += _beep[1];
        }
      }
      const speak = (text) => {
        console.log(text);
        const utter = new SpeechSynthesisUtterance();
        utter.lang = 'fi-FI';
        utter.text = text;
        speechSynthesis.cancel();
        speechSynthesis.speak(utter);
      }
      if (window.speechSynthesis) {
        speechSynthesis.getVoices();
      }
      let lastDetId = null
      window.document.addEventListener('speak', (data) => speak(data.detail), false)


      window.handleDetected = (det) => {
        const content = `http://koodi-${det.id + 1}`
        if (content == lastDetId) {
          return
        }
        lastDetId = content
        setTimeout(() => {
          lastDetId = null
        }, 3000)
        melody([[440, 100], [554.37, 100], [659.25, 100]])
        window.vueHandleDetected(content)
      }

    </script>
    <script type="text/javascript" src="/static/apriltag/main.js"></script>
    <script type="module" async src="/static/apriltag/video_process.js"></script>


    <template id="template">
        <div id="day-status">
          <img style="width: 10vw;" v-if="dayStatusImgSlug" :src="`/static/${dayStatusImgSlug}.png`"></img>
          <progress min="0" max="100" :value="dayStatusFilled"></progress>
        </div>
        
        <div id="collected-fruits">
          <div v-for="fruit in collectedFruits" @click="eatFruit(fruit)">
            <img :src="`/static/${fruit.slug}.png`"></img>
          </div>
        </div>
        <div v-if="dayStatus == 'day'">
          <div v-if="currentPos == 'food'">
            <img style="width: 30vw;" :src="`/static/${posContent.food}.png`"></img>
          </div>
        </div>
        <div v-if="speakText">{{ speakText }}</div>
        <div class="speech-recognition" @click="startRecognition">
          <div v-if="recognizingSpeech"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>microphone</title><path d="M12,2A3,3 0 0,1 15,5V11A3,3 0 0,1 12,14A3,3 0 0,1 9,11V5A3,3 0 0,1 12,2M19,11C19,14.53 16.39,17.44 13,17.93V21H11V17.93C7.61,17.44 5,14.53 5,11H7A5,5 0 0,0 12,16A5,5 0 0,0 17,11H19Z" /></svg></div>
          <div v-else><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>microphone-outline</title><path d="M17.3,11C17.3,14 14.76,16.1 12,16.1C9.24,16.1 6.7,14 6.7,11H5C5,14.41 7.72,17.23 11,17.72V21H13V17.72C16.28,17.23 19,14.41 19,11M10.8,4.9C10.8,4.24 11.34,3.7 12,3.7C12.66,3.7 13.2,4.24 13.2,4.9L13.19,11.1C13.19,11.76 12.66,12.3 12,12.3C11.34,12.3 10.8,11.76 10.8,11.1M12,14A3,3 0 0,0 15,11V5A3,3 0 0,0 12,2A3,3 0 0,0 9,5V11A3,3 0 0,0 12,14Z" /></svg></div>
        </div>
    </template>
    <script>
      const { createApp } = Vue;
    
      createApp({
        template: "#template",

        data() {
          return {
            msg: 'Hello Vue!',

            dayStatusSeconds: {
              'day': 60 * 2,
              'evening': 60 * 10,
              'night': 30,
            },
            dayStatus: null,
            dayStatusFilled: 0,
            dayStatusEndTime: null,

            currentPos: null,
            posContent: null,
            collectedFruits: [],

            event: null,
            speakText: null,

            lastHandle: null,

            eatingLoop: null,
            eatingCurrently: false,

            recognizingSpeech: false,
          }
        },
        computed: {
          dayStatusImgSlug() {
            if (this.dayStatus == 'evening' || this.dayStatus == 'night') {
              return 'night';
            }
            if (this.dayStatus == 'day') {
              return 'sun';
            }
          },
          dayStatusText() {
            if (this.dayStatus == 'day') {
              return 'Päivä';
            } else if (this.dayStatus == 'evening') {
              return 'Ilta';
            } else if (this.dayStatus == 'night') {
              return 'Yö';
            }
            return this.dayStatus;
          }
        },
        mounted() {
          window.vueHandleDetected = this.handleDetected
          this.dayStatusHandler();
          this.handleDetected(`dummy`);
        
          recognition.onresult = (event) => {
            this.handleRecognitionResult(event);
          }
          recognition.onend = () => {
            this.recognizingSpeech = false;
          }
        },
        methods: {
          handleRecognitionResult(event) {
            this.recognizingSpeech = false;
            const result = event.results[0][0].transcript;
            console.log('Result', result);
            axios.post('/api/speakcommand', {command: result})
              .then((response) => {
                if (response.data.speak) {
                  const speakText = response.data.speak;
                  const event = new CustomEvent('speak', { detail: speakText });
                  window.document.dispatchEvent(event);
                  this.speakText = speakText;
                }
              })
              .catch((error) => {
                console.log(error);
              });
          },
          startRecognition() {
            recognition.start();
            this.recognizingSpeech = true;
          },
          startEatingLoop() {
            if (this.eatingLoop) {
              return;
            }
            this.eatingLoop = setInterval(() => {
              this.handleEatFoodApi();
            }, 1000);
          },
          stopEatingLoop() {
            if (this.eatingLoop) {
              clearInterval(this.eatingLoop);
              this.eatingLoop = null;
            }
          },
          dayStatusHandler() {
            // Update day status loading bar
            if (this.dayStatus && this.dayStatusEndTime) {
              const secondsLeft = (this.dayStatusEndTime.getTime() - new Date().getTime()) / 1000;
              const maxSeconds = this.dayStatusSeconds[this.dayStatus] + 1;
              this.dayStatusFilled = Math.round(100 * (1 - secondsLeft / maxSeconds));
              if (this.dayStatusFilled >= 100) {
                // Simulate a scan of home
                setTimeout(() => {
                  if (this.dayStatusFilled >= 100) {
                    this.handleDetected(`dummy`)
                  }
                }, 2000 + (2000 * (this.dayStatusFilled - 100)))
              }
            }

            setTimeout(() => {
              this.dayStatusHandler();
            }, 1000)
          },
          handleScanResponse(data) {
            console.log(data);
            this.currentPos = data.currentPos
            this.posContent = data.posContent
            this.collectedFruits = data.collectedFruits
            let extraSpeak = '';

            if (data.dayStatus) {
              if (data.dayStatus != this.dayStatus) {
                if (data.dayStatus == 'day') {
                  extraSpeak += 'On aamu. ';
                } else if (data.dayStatus == 'evening') {
                  extraSpeak += 'On ilta. ';
                } else if (data.dayStatus == 'night') {
                  extraSpeak += 'On yö. ';
                }
              }
              this.dayStatus = data.dayStatus;
              this.dayStatusEndTime = new Date(data.dayStatusEnding);
            }

            if (this.dayStatus == 'evening') {
              this.startEatingLoop();
            } else {
              this.stopEatingLoop();
            }

            if (data.event && data.event.speak) {
              data.speak = data.event.speak;
            }

            if (data.speak) {
              const event = new CustomEvent('speak', { detail: extraSpeak + data.speak });
              window.document.dispatchEvent(event);
              this.speakText = extraSpeak + data.speak
            }

            if (data.event) {
              this.event = data.event;
              setTimeout(() => {
                this.event = null;
              }, 5000)
            }
          },
          handleDetected(content) {
            console.log("Detected", content)
            axios.post('/api/scan', {content})
              .then((response) => {
                this.handleScanResponse(response.data)
              })
              .catch((error) => {
                console.log(error);
              });
          },
          eatFruit(fruit) {
            if (this.dayStatus != 'evening') {
              return;
            }
            if (this.eatingCurrently) {
              return;
            }
            this.eatingCurrently = true;
            let fruitName = ''
            if (fruit.slug == 'apple') {
              fruitName = 'omenan';
            }
            if (fruit.slug == 'watermelon') {
              fruitName = 'vesimelonin';
            }
            if (fruit.slug == 'carrot') {
              fruitName = 'porkkanan';
            }
            if (fruit.slug == 'sandvich') {
              fruitName = 'leivän';
            }
            if (fruit.slug == 'banana') {
              fruitName = 'banaanin';
            }
            if (fruit.slug == 'ananas') {
              fruitName = 'ananaksen';
            }
            if (fruit.slug == 'strawberry') {
              fruitName = 'mansikan';
            }

            const event = new CustomEvent('speak', { detail: "Syöt " + fruitName });
            window.document.dispatchEvent(event);
            this.speakText = "Syöt " + fruitName

            setTimeout(() => {
              this.handleEatFoodApi(fruit.slug)
            }, 2000)
          },
          handleEatFoodApi(eatSlug) {
            // Call the eat food api, either to eat or just to check what is available
            axios.post('/api/eat_food', {eatSlug})
              .then((response) => {
                this.collectedFruits = response.data.collectedFruits
                if (this.collectedFruits.length == 0) {
                  this.handleDetected('dummy');
                }
                if (eatSlug) {
                  this.eatingCurrently = false;
                }
              })
              .catch((error) => {
                console.log(error);
              });
          }
        },
      }).mount('#vue-app')

    </script>
  </body>
</html>
{% endraw %}